/* ==========================================================================
    DEFAULT THEME - DARK VERSION
    ========================================================================== */

/* Color codes used for the theme */
$primary-color              : #24b7d6;
$gray                       : #9aa4ad;
$dark-gray                  : #101010;
$darker-gray                : #050505;
$light-gray                 : #5c5c5c;

$background                 : #000000;
$background-light           : #0b0b0b;
$background-lighter         : #141414;
$text                       : #ffffff;
$link                       : #24b7d6;
$link-dark                  : mix(#000, $link, 25%);
$link-light                 : mix(#fff, $link, 25%);

/* Color codes used for the site */
$danger-color               : #ee5f5b;
$info-color                 : #2f7f93;
$notice-color               : #7a8288;
$success-color              : #62c462;
$warning-color              : #f89406;

/* Other basic settings for the template */
$border-radius              : 4px;
$box-shadow                 : 0 1px 1px rgba(0, 0, 0, 0.125);
$global-transition          : all 0.2s ease-in-out;
$masthead-height            : 70px;
$navicon-width              : 28px;
$navicon-height             : 4px;
$sidebar-link-max-width     : 250px;
$sidebar-screen-min-width   : 1024px;

/* Dark theme for the site */
html[data-theme="dark"] {
    --global-base-color                 : #{$primary-color};
    --global-bg-color                   : #{$background};
    --global-footer-bg-color            : #{$background};
    --global-border-color               : #2a2a2a;
    --global-dark-border-color          : #{$background-light};
    --global-code-background-color      : #0d0d0d;
    --global-code-text-color            : #f5f5f5;
    --global-fig-caption-color          : #b8b8b8;
    --global-link-color                 : #{$link};
    --global-link-color-hover           : #{$link-dark};
    --global-link-color-visited         : #{$link-light};
    --global-masthead-link-color        : #{$text};
    --global-masthead-link-color-hover  : #{$primary-color};
    --global-text-color                 : #{$text};
    --global-text-color-light           : #d4d4d4;
    --global-thead-color                : #{$background-lighter};
}
